<ion-content class="no-scroll bg-color" padding>

	<div class="container">

		<div>
			<ion-avatar>
				<img src="assets/img/lock.png" class="icon">
			</ion-avatar>
		</div>

		<div class="header-title">
			<h3 text-center>Login </h3>

		</div>

		<div>
			<form (submit)="Login()">
				<div class="form-group">
					<label for="email">Email address</label>  
					<input type="email" class="form-control" id="email"  [(ngModel)]="email" placeholder="Enter your email" [ngModelOptions]="{standalone: true}" >
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" id="password" [(ngModel)]="password" placeholder="Enter your Password" [ngModelOptions]="{standalone: true}">
				</div>

				<p text-right (click)="GoToRegister()">No account yet? Register here</p>

				<button ion-button outline type="submit" class="btn go-btn" >
					Login
				</button>
			</form>
		</div>
		
	</div>
</ion-content>


