<ion-header>
	<ion-navbar padding color="dark">
		<ion-title class="title-header">Posts</ion-title>
		<ion-buttons end>
			<button ion-button (click)="AddPost()">
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content padding>
	<div class="container">		<ion-list *ngIf="Length != 0">
			<ion-item *ngFor="let post of posts"  (press)="showActionSheet(post)">
				<h2>{{ post.title }}</h2>
				<p>{{ post.body}}</p>
			</ion-item>
		</ion-list>

		<h3 *ngIf="Length == 0" class="no-data"><i> No post yet</i></h3>
	</div>

</ion-content>
