<ion-content class="no-scroll bg-color" padding>

	<div class="container">

		<div>
			<ion-avatar>
				<img src="assets/img/lock.png" class="icon">
			</ion-avatar>
		</div>

		<div class="header-title">
			<h3 text-center>Register </h3>

		</div>

		<div>
			<form (submit)="Register()">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" id="name"  [(ngModel)]="name" placeholder="" [ngModelOptions]="{standalone: true}" >
					<div *ngIf="hasError">
						<p *ngIf="hasProperty(data.data,'name')" class="text-red">{{data.data.name[0]}}</p>	
					</div>

				</div>
				<div class="form-group">
					<label for="email">Email address</label>  
					<input type="email" class="form-control" id="email"  [(ngModel)]="email" placeholder="" [ngModelOptions]="{standalone: true}" >
					<div *ngIf="hasError">
						<p *ngIf="hasProperty(data.data,'email')" class="text-red">{{data.data.email[0]}}</p>	
					</div>
					
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" id="password" [(ngModel)]="password" placeholder="" [ngModelOptions]="{standalone: true}">
					<div *ngIf="hasError">
						<p *ngIf="hasProperty(data.data,'password')" class="text-red">{{data.data.password[0]}}</p>	
					</div>
					
				</div>
				<div class="form-group">
					<label for="c_password">Confirm Password</label>
					<input type="password" class="form-control" id="c_password" [(ngModel)]="c_password" placeholder="" [ngModelOptions]="{standalone: true}">
					<div *ngIf="hasError">
						<p *ngIf="hasProperty(data.data,'c_password')" class="text-red">{{data.data.c_password[0]}}</p>	
					</div>
					
				</div>
				<p text-right (click)="GoToLogin()">Already have an account? Login</p>

				<button ion-button outline type="submit" class="btn go-btn" >
					Register
				</button>
			</form>
		</div>
		
	</div>
</ion-content>


