<!--
  Generated template for the EditCategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div class="container">

		<div>
			<ion-avatar>
				<img src="assets/img/category.png" class="icon">
			</ion-avatar>
		</div>

		<div class="header-title">
			<h3 text-center>Update Category </h3>

		</div>

		<div>
			<form (submit)="Update()">
				<div class="form-group">
					<label for="name">Category Name</label>  
					<input type="text" class="form-control" id="name"  [(ngModel)]="category.name" placeholder="" [ngModelOptions]="{standalone: true}" >
					<div *ngIf="hasError">
						<p *ngIf="hasProperty(data.data,'name')" class="text-red">{{data.data.name[0]}}</p>	
					</div>
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<input type="text" class="form-control" id="description" [(ngModel)]="category.description" placeholder="" [ngModelOptions]="{standalone: true}">
				</div>


				<button ion-button outline type="submit" class="btn go-btn" >
					  Update
				</button>
			</form>
		</div>
		
	</div>
</ion-content>
