// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.go-btn
{
	width:100%;
	padding:22px;
	font-size:1em;
	margin-top:5px;
	letter-spacing: 5px;
	text-transform: uppercase;
	color:black; 
	font-weight: bold;
	border-width: 3px;
	background-color:#2ECC71;
	border-color: #2ECC71;
}
.go-btn:active {
    background-color: transparent;
    color:black;	    
   
}

.header-title{
	margin-top: 20px;
	margin-bottom:30px;
	//font-family: Chicle;
}
.form-group
{
	margin-bottom:20px;
}
.form-group input[type="email"] ,input[type="password"], input[type="text"]
{
	padding:12px;
	font-size:13px;

}
.form-group input:focus { 
    border-color: black;
}
.icon
{
 	margin-top:7%;
	height:40%;
	width:30%;
	//display: block; 
	margin-left: 35%; 
	margin-right: auto; 
}

.alertSingleButton
 {
 	text-align: center !important;
	button{
			width:95%;
	}
 }

 .alertCustomCss{
	//color: #31CA98;
	text-align: center !important;
	button{
			//color: #CA2121 !important;
			width:45%;
			//margin-left:2%;
	}


}
.alert-md .alert-button .button-inner {
  justify-content: center;
}

.no-data
{
	text-align: center;
	margin-top: 50% !important;
}
.text-red
{
	color: red;
}

