<!--
  Generated template for the AddCategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Add Post</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div class="container">

		<div>
			<ion-avatar>
				<img src="assets/img/file.png" class="icon">
			</ion-avatar>
		</div>

		<div class="header-title">
			<h3 text-center>Add Post </h3>

		</div>

		<div>
			<form (submit)="Save()">
				<div class="form-group">
					<label for="title">Title</label>  
					<input type="text" class="form-control" id="title"  [(ngModel)]="title" placeholder="" [ngModelOptions]="{standalone: true}" >
					<div *ngIf="hasError">
						<p *ngIf="hasProperty(data.data,'title')" class="text-red">{{data.data.title[0]}}</p>	
					</div>
				</div>
				<div class="form-group">
					<label for="body">Body</label>
					<input type="text" class="form-control" id="body" [(ngModel)]="body" placeholder="" [ngModelOptions]="{standalone: true}">
					<div *ngIf="hasError">
						<p *ngIf="hasProperty(data.data,'body')" class="text-red">{{data.data.body[0]}}</p>	
					</div>
				</div>


				<button ion-button outline type="submit" class="btn go-btn" >
					 Save
				</button>
			</form>
		</div>
		
	</div>
</ion-content>
