<ion-header>
	<ion-navbar padding color="dark">
		<ion-title class="title-header">Categories</ion-title>
		<ion-buttons end>
			<button ion-button (click)="AddCategory()" large>
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content padding>
	

	<div class="container">
		<ion-list *ngIf="Length != 0">
			<ion-item *ngFor="let category of categories" (click)="categorySelected(category.id)" (press)="showActionSheet(category)">
				<h2>{{ category.name }}</h2>
				<p>{{ category.description}}</p>
			</ion-item>
		</ion-list>

		<h3 *ngIf="Length == 0" class="no-data"><i> No category yet</i></h3>
	
	</div>

</ion-content>

<ion-footer >
  <ion-toolbar (click)="Logout()" color="danger">
    <ion-title text-center>Logout</ion-title>
  </ion-toolbar>
</ion-footer>